/********************
 * FEATURE CAROUSEL *
 ********************/
.carousel-container {
  top: 150px;
  position:relative;
  width:960px;
}
#carousel {
  height:700px;
  width:960px;
  position:relative;
  
  font-size:12px;
  font-family: Arial;
}
.carousel-image {

  border:0;
    display:block;
}
.carousel-feature {
  overflow: visible !important;
  position:absolute;
  top:-1000px;
  left:-1000px;
  border:2px solid #5d5d5d;
  cursor:pointer;
}
.carousel-feature .carousel-caption {
  position:absolute;
  bottom: -150px;
      width: 25%;
      height: 140px;
      left: 190px;
  
  background-color:#000;
}

.carousel-feature .carousel-caption p {
   font-weight:bold;
  

  font-size:12px;
  color:white;
}
/*.tracker-summation-container {
  position:absolute;
  color:white;
  right:48px;
  top:230px;
  padding:3px;
  margin:3px;
  background-color:#000;
}
.tracker-individual-container {
  position:absolute;
  color:white;
  right:48px;
  top:210px;
  padding:0;
  margin:0;
}
.tracker-individual-container li {
  list-style:none;
}
.tracker-individual-container .tracker-individual-blip {
  margin:0 3px;
  padding:0 3px;
  color:white;
  text-align:center;
  background-color:#DDD;
}
.tracker-individual-container .tracker-individual-blip-selected {
  color:white;
  font-weight:bold;
  background-color:#000;
}
*/
#carousel-left {
  position:absolute;
  top:150px;
  left:20px;
  cursor:pointer;
}
#carousel-right {
  position:absolute;
  top:150px;
  right:20px;
  cursor:pointer;
}